<footer class="container">
    <gridflex class="justify-between items-center aling-center padding-top margin-top">
        <div>
            <p>© 2025 Mais Foco! - Todos os direitos reservados</p>
        </div>
        <div>
            <a href="https://instagram.com/mais.foco.42" target="_blank" class="social-link nbtl-button">
                <i class="fab fa-instagram"></i> @@mais.foco.42
            </a>
            <a href="/sobre" class="social-link nbtl-button">Sobre nós</a>
        </div>
    </gridflex>
</footer>