<footer class="flex justify-center">
    <gridflex class="justify-between items-center aling-center margin-lr">
        <div>
            <p>© @year Mais Foco! - Todos os direitos reservados</p>
        </div>
        <div class="flex flex-col gap-2">
            <a href="https://instagram.com/mais.foco.42">
                <i class="fab fa-instagram"></i> <strong>@@mais.foco.42</strong>
            </a>
            <a href="/sobre"><strong>Sobre</strong></a>
        </div>
    </gridflex>
</footer>

<style>
    @include './footer.css';
</style>