<meta property="og:title" content="MaisFoco - Recomendações Diárias de Filmes, Livros e Jogos">
<meta property="og:description" content="Receba recomendações diárias de filmes, livros e jogos.">
<meta property="og:image" content="https://maisfoco.life/assets/images/og.jpg">
<meta property="og:url" content="https://maisfoco.life">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="MaisFoco - Recomendações Diárias de Filmes, Livros e Jogos">
<meta name="twitter:description" content="Receba recomendações diárias de filmes, livros e jogos.">
<meta name="twitter:image" content="https://maisfoco.life/assets/images/og-x.jpg">